{% extends "layout.html" %}

{% block title %}
  CSCI467 About
{% endblock %}

{% block main %}

<div class="container-fluid">
  <h2>Students:</h2>
    <p>Jake Fitzenreider <br>
     Ethan Burgholzer <br>
     Hudson Arseneau <br>
     Terry Kucala <br>   
    </p>
    <br>
    <h2>Attribution:</h2>
    <p>admin by Adrien Coquet from <a href="https://thenounproject.com/browse/icons/term/admin/" target="_blank" title="admin Icons">Noun Project</a> (CC BY 3.0)</p>
    <p>Purchase by Alice Design from <a href="https://thenounproject.com/browse/icons/term/purchase/" target="_blank" title="Purchase Icons">Noun Project</a> (CC BY 3.0)</p>
    <p>sanction by BEJOUN from <a href="https://thenounproject.com/browse/icons/term/sanction/" target="_blank" title="sanction Icons">Noun Project</a> (CC BY 3.0)</p>
    <p>Partner by Nhor from <a href="https://thenounproject.com/browse/icons/term/partner/" target="_blank" title="Partner Icons">Noun Project</a> (CC BY 3.0)</p>
</div>

{% endblock %}