{% extends "layout.html" %}

{% block title %}
  CSCI467 Home
{% endblock %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a href="/associate"><img src="../static/associatelogo.png">Associates Login</a>
    </div>
    <div class="col">
      <a href="/sanction"><img src="../static/sanctionlogo.png">Sanction Quotes</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/convert"><img src="../static/convertlogo.png">Convert Quotes</a>
    </div>
    <div class="col">
      <a href="admin"><img src="../static/adminlogo.png">Admin</a>
    </div>
  </div>
    

    </div>
  </div>
</div>

{% endblock %}